DB_HOST=dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com
DB_NAME="your DB name"
DB_PASSWORD="your password"
DB_PORT=5432
DB_USER="your username"

DATABASE_URL=postgresql://{username}:{password}@dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com:5432/market_master_dev

# DATABASE_URL="postgresql://postgres:Elite1234%$@dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com:5432/market_master_dev"