DB_HOST=dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com
DB_NAME="your DB name"
DB_PASSWORD="your password"
DB_PORT=5432
DB_USER="your username"

DATABASE_URL=postgresql://{username}:{password}@dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com:5432/market_master_dev

# DATABASE_URL="postgresql://postgres:Elite1234%$@dev-sft.cude02oi0pem.us-east-1.rds.amazonaws.com:5432/market_master_dev"

# SMTP (Gmail)
APP_URL=http://localhost:5000 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true              # true for 465 (SSL). If you use 587, set false and add REQUIRE_TLS=true
SMTP_USER=addyourgmaill@gmail.com
SMTP_PASS=hjcn true kztc tere
SMTP_FROM="MarketMaster <yourgmail@gmail.com>"

# Optional debugging
SMTP_DEBUG=true
REQUIRE_TLS=false

# JWT Configuration (Token expiry times)
JWT_SECRET=your-super-secret-jwt-key-change-in-production
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# CORS Configuration
FRONTEND_URL=http://localhost:3000
NODE_ENV=development